
// Body
$body-bg: #f5f8fa;
$body-bg-resg: #f5f8fa;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// violeta oscuro es b2037a
$color-first : #b2037a;

// El verde es 09cca2 
$color-second : #09cca2;

/* $color-second : #059274; */

// Rosa fuerte es ff0aaf
$color-focus: #ff0aaf; 

// Rosa claro es ff97dd
$color-back: #ff97dd;


