
// Body
$body-bg: #f5f8fa;
$body-bg-resg: #f5f8fa;

// Typography
$font-family-sans-serif: 'Acme', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// violeta oscuro es b2037a
$color-first : #242223;

// El verde es 09cca2 
$color-second : #313635;

/* $color-second : #059274; */

// Rosa fuerte es ff0aaf
$color-focus: #3b3a3b; 

// Rosa claro es ff97dd
$color-back: #555555;


